include setup.py AUTHORS README.rst COPYING LICENSE
include fgmk/data/*.json fgmk/data/*.png fgmk/data/basegame.tar.gz fgmk/data/example.tar.gz
include platform/ubuntu/fgmk.desktop platform/ubuntu/fgmk-map.svg platform/ubuntu/fgmk.svg platform/ubuntu/fgmk.xml
